.app-container {
  border: solid black 1px;
  width: inherit;
  margin: 0;
  padding: 4px 0;
  height: 800px;
}

app-filter {
  display: inline-block;
  height: inherit;
}
/*
//////////////////////
To display news stories:
//////////////////////
*/
.app-main-content-display {
  position: absolute;
  left: 31%;
  display: inline-block;
  border: solid blue 1px;
  width: 67.5%;
  height: inherit;
  margin-left: .5%;
}
