#navbar {
    margin: 0;
    height: auto;
    background-color: lightgrey;
}
#navbar-list {
  list-style-type: none;
  margin: 0;
  padding-left: 5px;
}
#navbar-list .navtitle-li {
    list-style-type: none;
    display: inline-block;
    background-color: rgb(238, 238, 238);
    border: solid black 1px;
    border-radius: 4px;
    padding: .2em 0 .1em .2em;
    margin: .2em 10px .2em .2em;
    height: 1.4em;
    width: 6em;
    font-size: 17pt;

}
#navbar-list .navlink-li {
    list-style-type: none;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: large;
}
#navbar-div {
    position: relative;
}
#navlinks-div {
    display: inline-block;
    width: 50vw;
    position: absolute;
    top: 0;
}
#navbar-list .navlink-li~li {
    margin-left: 1.5em;
}
#navbar-list a {
    padding: .1rem 2%;
}
#homelink-li {
    width: 2rem;
}
#newslink-li {
    width: 9em;
}

.navlink {
    text-decoration: none;
    color: black;
    padding: 1%;
    border: solid rgb(179, 179, 179) 2pt;
    border-radius: 5pt;
    background-color: beige;
}
.navlink:hover {
    color: blue;
}