<nav id="navbar">
    <div id="navbar-div">
        <ul id="navbar-list">
            <li class="navtitle-li">
                Jared's Apps
            </li>
            <div id="navlinks-div">
                <li class="navlink-li" id="homelink-li">
                    <a class="navlink" id="homelink" routerLink="/home">Home</a>
                </li>
                <li class="navlink-li" id="newslink-li">
                    <a class="navlink" id="newslink" routerLink="/news">World News</a>
                </li>
            </div>
            
        </ul>
    </div>
</nav>