<div class="app-filter-container" id="filter-div">
  <!--> FILTER SECTION TITLE: -->
  <div class="sidebar-title-div" id="filter-title-div">
    <p>Filter</p>
  </div>
  <!--> FILTER FORM: -->
  <div class="sidebar-section-div" id="filter-form-div">
    <form class="sidebar-form" id="filter-form" [formGroup]="filterFG">
      <!--> FILTER SUBMIT BUTTON: -->
      <div id="filter-submit-btn-div">
        <button (click)="submitFilterForm()">Submit</button>
      </div>
      <!--> FILTER INPUT: -->
        <!--* Filter Form = 'ff' -->
      <!--> Number of stories -->
      <div class="ff-input-div" id="number-div">
        <label class="ff-input-lbl" id="number-input-lbl" for="input-number">Number of stories : </label>
        <input type="number" class="ff-input int geq1 leq99" id="input-number" name="number of stories" formControlName="numberFC" placeholder="#" title="The number of stories to display">
        <div class="invalid-input-msgdiv" id="invalid-number-msgdiv" *ngIf="filterFG.controls['numberFC'].invalid && filterFG.controls['numberFC'].touched">
          <span style="color : red" *ngIf="filterFG.controls['numberFC'].errors?.['required']">Number required</span>
          <span style="color : red" *ngIf="filterFG.controls['numberFC'].errors?.['max']">Maximum of 10 stories</span>
          <span style="color : red" *ngIf="filterFG.controls['numberFC'].errors?.['min']">Minimum of 1 story</span>
        </div>
      </div>
      <!--> Sentiment range -->
      <div class="ff-input-div-block" id="sentiment-div-block">
        <p class="ff-input-block-lbl" id="sentiment-block-lbl" style="margin: 0; display: block">Sentiment Range </p>
        <div class="ff-input-div" id="min-sentiment-div">
          <label class="ff-input-lbl" id="min-sentiment-input-lbl" for="input-min-sentiment">Min : </label>
          <input #minsentiment type="number" step="0.01" class="ff-input float geq-1 leq1" id="input-min-sentiment" name="minimum sentiment" formControlName="min_sentimentFC" placeholder="[-1, Max]">
          <div class="invalid-input-msgdiv" id="invalid-min-sentiment-msgdiv" *ngIf="filterFG.controls['min_sentimentFC'].invalid && filterFG.controls['min_sentimentFC'].touched">
            <span style="color : red" *ngIf="filterFG.controls['min_sentimentFC'].errors?.['max']">Maximum sentiment = 1</span>
            <span style="color : red" *ngIf="filterFG.controls['min_sentimentFC'].errors?.['min']">Minimum sentiment = -1</span>
          </div>
        </div>
        <div class="ff-input-div" id="max-sentiment-div">
          <label class="ff-input-lbl" id="max-sentiment-input-lbl" for="input-max-sentiment">Max : </label>
          <input #maxsentiment type="number" step="0.01" class="ff-input float geq-1 leq1" id="input-max-sentiment" name="maximum sentiment" formControlName="max_sentimentFC" placeholder="[Min,  1]">
          <div class="invalid-input-msgdiv" id="invalid-max-sentiment-msgdiv" *ngIf="filterFG.controls['max_sentimentFC'].invalid && filterFG.controls['max_sentimentFC'].touched">
            <span style="color : red" *ngIf="filterFG.controls['max_sentimentFC'].errors?.['max']">Maximum sentiment = 1</span>
            <span style="color : red" *ngIf="filterFG.controls['max_sentimentFC'].errors?.['min']">Minimum sentiment = -1</span>
          </div>
        </div>
        <!--* This uses a custom validator for the form group to ensure min does not exceed max -->
        <div class="invalid-input-msgdiv invalid-input-block-msgdiv" id="invalid-sentiment-block-msgdiv" *ngIf="filterFG.controls['min_sentimentFC'].touched && filterFG.controls['max_sentimentFC'].touched && filterFG.errors?.['minMaxMismatch']">
          <span style="color : red" >Maximum sentiment should be greater than or equal to minimum sentiment!</span>
        </div>

      </div>
      <!--> Sort by & sort direction -->
      <div class="ff-input-div-block" id="sorting-div-block">

        <div class="ff-input-div radio-input-div" id="sort-direction-div" name="sort direction div">
          <p class="ff-input-block-lbl" id="sorting-block-lbl" style="margin: 0; display: inline-block">Sort by : </p>
          <div >
            <input type="radio" class="ff-input radio" id="sort-direction-asc-radio" name="sort direction" value="asc" (change)="onRadioChange($event)" checked>
            <label class="ff-input-lbl radio-input-lbl" id="sort-direction-asc-input-lbl" for="sort-direction-asc-radio" title="ascending order">asc</label>
          </div>
          <div>
            <input type="radio" class="ff-input radio" id="sort-direction-desc-radio" name="sort direction" value="desc" (change)="onRadioChange($event)">
            <label class="ff-input-lbl radio-input-lbl" id="sort-direction-asc-input-lbl" for="sort-direction-desc-radio" title="descending order">desc</label>
          </div>
        </div>
        <div class="ff-input-div radio-input-div" id="sort-div" name="sort by div">
          <div>
            <input type="radio" class="ff-input radio" id="sort-publish-time-radio" name="sort by" value="publish-time" (change)="onRadioChange($event)" checked>
            <label class="ff-input-lbl radio-input-lbl" id="sort-publish-time-input-lbl" for="sort-publish-time-radio">publish-time</label>
          </div>
          <div>
            <input type="radio" class="ff-input radio" id="sort-sentiment-radio" name="sort by" value="sentiment" (change)="onRadioChange($event)">
            <label class="ff-input-lbl radio-input-lbl" id="sort-sentiment-input-lbl" for="sort-sentiment-radio">sentiment</label>
          </div>
        </div>

      </div>
      <!--> Text -->
      <div class="ff-input-div" id="text-div">
        <label class="ff-input-lbl" id="text-input-lbl" for="input-text">Text Search </label>
        <input type="text" class="ff-input string" id="input-text" name="text search input" formControlName="textFC" placeholder="Articles contain...">
        <div class="invalid-input-msgdiv" id="invalid-text-msgdiv" *ngIf="filterFG.controls['textFC'].invalid && filterFG.controls['textFC'].touched">
          <span style="color : red" *ngIf="filterFG.controls['textFC'].errors?.['maxlength']">{{_text_maxlen}} characters max</span>
        </div>
      </div>

      <!--> Entity list -->
      <div class="ff-input-div" id="entities-div">
        <label class="ff-input-lbl" id="entities-input-lbl" for="input-entities">Entity List </label>
        <input type="text" class="ff-input string comma-sep-lst" id="input-entities" name="entity list input" formControlName="entitiesFC" placeholder="TYPE:NAME, ..." title="Enter a comma seperated list of entities. Valid entity types: ['PER', 'LOC', 'ORG', 'DATE', 'TIME', 'MONEY', 'PERCENT', 'FAC', 'GPE']">
        <div class="invalid-input-msgdiv" id="invalid-entities-msgdiv" *ngIf="filterFG.controls['entitiesFC'].errors?.['invalidEntities'] && filterFG.controls['entitiesFC'].touched">
          <span style="color : red" *ngIf="filterFG.controls['entitiesFC'].errors?.['invalidEntities']">Invalid format. Please enter a comma seperated entity list of format 'TYPE:NAME', e.g. 'ORG:Tesla'</span>
        </div>
      </div>
      <!--> Author list -->
      <div class="ff-input-div" id="authors-div">
        <!--  -->
        <label class="ff-input-lbl" id="authors-input-lbl" for="input-authors">Author List </label>
        <input type="text" class="ff-input string comma-sep-lst" id="input-authors" name="author list input" formControlName="authorsFC" placeholder="John Doe, Jane Doe, ...">
      </div>
      <!--> News source (url) list -->
      <div class="ff-input-div" id="news-sources-div">
        <!--  -->
        <label class="ff-input-lbl" id="news-sources-input-lbl" for="input-news-sources">News Source List </label>
        <input type="text" class="ff-input string comma-sep-lst" id="input-news-sources" name="news source list input" formControlName="news_sourcesFC" placeholder="https://somesource.com, ...">
      </div>
      <!--> Country (ISO 3166) list & language (ISO 6391)-->
      <div class="ff-input-div-block" id="country-lang-div-block">
        <div class="ff-input-div" id="language-div">
          <label class="ff-input-lbl" id="language-input-lbl" for="input-language">Language : </label>
          <input type="text" class="ff-input string maxlen2" id="input-language" name="language input" formControlName="languageFC" title="Enter an ISO 6391 language code">
        </div>
        <div class="ff-input-div" id="source-countries-div">
          <label class="ff-input-lbl" id="source-countries-input-lbl" for="input-source-countries">Country List </label>
          <input type="text" class="ff-input string comma-sep-lst" id="input-source-countries" name="source country list input" formControlName="source_countriesFC" placeholder="us, gb, ..." title="Enter a comma seperated list of ISO 63166 country codes">
        </div>
      </div>
      <!--> Earliest publish date (ISO String) -->
      <!--TODO how to submit this as an ISO string? -->
      <div class="ff-input-div" id="earliest-publish-date-div">
        <label class="ff-input-lbl" id="earliest-publish-date-input-lbl" for="input-earliest-publish-date">Earliest Publish Date </label>
        <input type="datetime-local" class="ff-input dt-local" id="input-earliest-publish-date" name="earliest publish date input" formControlName="earliest_publish_dateFC">
      </div>
    </form>
  </div>

</div>
