<h1>Welcome to my World News Aggregator!</h1>
<h5>This app uses the <a href="https://apilayer.com/marketplace/world_news-api" target="_blank" rel="noopener noreferrer">World News API (by skycraft LLC) on APILayer</a></h5>
<h2>REQUIREMENTS -</h2>
<h3>Acquire and set up an API key:</h3>
<ol>
  <li>Make an account at <a href="https://apilayer.com" target="_blank" rel="noopener noreferrer">the API Layer website</a>.</li>
  <li>Go to your profile and get an API key.</li>
  <li>Create a file <p class="fname">apiKeys.ts</p> in the <p class="fname">src</p> directory of this application.</li>
  <li>Save this file with the contents <code>export const apilayer_key = "yourAPIkey";</code></li>
</ol>
