code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}
.fname {
  font-family:'Lucida Console', monospace;
  display:inline;
  font-size: 80%;
  font-weight: bold;
}
